# ======================
# Maven / Java
# ======================
target/
*.log

# ======================
# IDEs
# ======================
.idea/
.vscode/
*.iml

# ======================
# Environment variables
# ======================
.env
.env.*
!.env.example

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db